---
Checks: >
  -*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-concat-nested-namespaces,
  performance-*,
  bugprone-*,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,

WarningsAsErrors: ''

HeaderFilterRegex: 'src/.*\.h$'

FormatStyle: none
