[submodule "3rdparty/httplib"]
	path = 3rdparty/httplib
	url = https://github.com/yhirose/cpp-httplib.git
	shallow = true
[submodule "3rdparty/nlohmann-json"]
	path = 3rdparty/nlohmann-json
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = https://github.com/nothings/stb.git
	shallow = true
[submodule "3rdparty/cmrc"]
	path = 3rdparty/cmrc
	url = https://github.com/vector-of-bool/cmrc.git
[submodule "3rdparty/miniz"]
	path = 3rdparty/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
